  body, html{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
      }
      .card {
        width: 600px;
        height: 600px;
        background-color: salmon;
        display: flex;
        justify-content: center;
        border-radius: 50px;
        position: relative;
      }
      .theFile {
        width: 400px;
        height: 300px;
        margin-top: 100px;
        border-radius: 60px;
        opacity: 0;
      }
      .card > h2  {
        position: absolute;
        width: 400px;
        line-height: 300px;
        text-align: center;
        margin-top: 100px;
        border-radius: 60px;
        background-color: rgb(243, 238, 238);
      }
      .card > input{
        position: absolute;
        width: 400px;
        height: 300px;
        margin-top: 100px;
        border-radius: 60px;
        cursor: pointer;
      }
      .card > img {
        width: 400px;
        height: 300px;
        margin-top: 100px;
        border-radius: 60px;
        /* object-fit: cover; */
        rotate: 100px;
        background-color: rgb(243, 238, 238);
      }
      .btns {
        display: flex;
        justify-content: space-around;
        padding: 20px;
        transform: translateY(-100%);
      }
      .btns button {
        background-color: rgb(243, 238, 238);
        border: none;
        padding: 10px;
        border-radius: 50%;
        cursor: pointer;
        font-size: large;
      }
      .fa-v {
        font-size: 100px;
        transform: translate(600%, 5%);
      }