body{
    background-color: lightpink;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    justify-content: center;
}
h1{
    padding: 20px;
    border: 5px solid khaki;
    box-shadow: 3px 3px 3px navy;
    background-color: rgb(247, 194, 173);
}
table, td{
    border: 5px solid khaki;
    border-collapse: collapse;
    padding: 10px;
    font-weight: bold;
    color: navy;
    box-shadow: 3px 3px 3px navy;
    background-color: rgb(247, 194, 173);
}